body {
	text-align: center !important;
}

.card {
	background-color: #dee2e6 !important;
	border: 1px solid #495057;
	margin-top: 2rem !important;
}
.jumbotron {
	border-radius: 0 !important;
	margin-bottom: 0 !important;
}

.jumbotron.title {
	background-color: #52b69a;
}

.jumbotron.total {
	background-color: #e9ecef;
}

.jumbotron.last-earthquakes {
	background-color: #34a0a4;
}

.jumbotron.bar-chart {
	background-color: #e9ecef;
}

.jumbotron.heaviest-magnitude {
	background-color: #168aad;
}

.jumbotron.heaviest-felt {
	background-color: #e9ecef;
}

.jumbotron.special-events {
	background-color: #1a759f;
}