body {
	text-align: center !important;
}

div > .card {
	background-color: #dee2e6;
	border: 1px solid #495057;
	margin-top: 2rem;
}
div > .jumbotron, div > .alert {
	border-radius: 0;
	margin-bottom: 0;
}

.jumbotron.title {
	padding-top: 50vh;
	color: white;
	text-shadow: 2px 2px 0 rgba(0,0,0,.4);
	background-image: url(./images/volcano.jpg);
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.jumbotron.total, .jumbotron.spinner {
	background-color: #e9ecef;
}

.jumbotron.last-earthquakes {
	background-color: #34a0a4;
}

.jumbotron.bar-chart {
	background-color: #e9ecef;
}

.jumbotron.heaviest-magnitude {
	background-color: #168aad;
}

.jumbotron.heaviest-felt {
	background-color: #e9ecef;
}

.jumbotron.special-events {
	background-color: #1a759f;
}

.card-body {
	box-shadow: 0 16px 28px 0 rgba(0,0,0,.4);
}
